:root {
  --x: 400px;
  --y: 400px;
  --z: 400px;
  --distX: calc(var(--x) / 2);
  --distY: calc(var(--y) / 2);
  --distZ: calc(var(--z) / 2);
  --distXr: calc(var(--x) / 2 * -1);
  --distYr: calc(var(--y) / 2 * -1);
  --distZr: calc(var(--z) / 2 * -1);

  --rX: 0deg;
  --rY: 0;
}

.c-scene {
  width: var(--x);
  height: var(--y);
  perspective: var(--z);
}
.c-cube {
  position: relative;
  transform-style: preserve-3d;
  width: var(--x);
  height: var(--y);
  transition: transform 1s;
  transform: translateZ(var(--distZr)) rotateX(var(--rX)) rotateY(var(--rY));
}
.c-cube-face {
  border: 1px dotted black;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  opacity: 70%;
  position: absolute;
  width: var(--x);
  height: var(--y);
}
.c-cube-face.front {
  background-color: rgb(255, 102, 102);
  transform: rotateY(0) translateZ(var(--distZ));
}
.c-cube-face.back {
  background-color: rgb(250, 255, 94);
  transform: rotateY(180deg) translateZ(var(--distZ));
}
.c-cube-face.left {
  background-color: rgb(218, 195, 255);
  transform: rotateY(-90deg) translateZ(var(--distZ));
}
.c-cube-face.right {
  background-color: rgb(255, 255, 255);
  transform: rotateY(90deg) translateZ(var(--distZ));
}
.c-cube-face.top {
  background-color: rgb(163, 250, 163);
  transform: rotateX(90deg) translateZ(var(--distZ));
}
.c-cube-face.bottom {
  background-color: rgb(189, 189, 54);
  transform: rotateX(-90deg) translateZ(var(--distZ));
}
