:root {
  --color1: #242038;
  --color2: #006e90;
  --color3: #e1d89f;
  --color4: #f65be3;
  --color5: #f26157;
  --color6: #124764;
  --color7: #71a398;
  --color8: #ec9ac1;
  --color9: #f45e9d;
  --color10: #f36f66;
  --color11: #f565a5;

  --bgHeader: var(--color1);
  --bgNav: var(--color2);
  --bgNavBtn: var(--color10);
  --bgMain: var(--color6);
  --bgFooter: var(--color4);
  --textHeader: var(--color5);
  --textHeaderAlt: var(--color4);
  --textParagraph: var(--color1);
  --textLink: var(--color6);

  /*! Cube stuff */
  --size: 50px;
  --scale: 1;

  /** final size */
  --sF: calc(var(--size) * var(--scale));

  /** half size */
  --sH: calc(var(--sF) / 2);
  --sHr: calc(var(--sH) * -1);

  /** perspective */
  --sP: calc(var(--sF) * 3);

  /** animation duration  */
  --aS: 5s;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* > h1,
* > h2,
* > h3,
* > h4,
* > h5,
* > h6 {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  color: var(--textHeader);
}
* > p {
  color: var(--textParagraph);
}
* > a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--textLink);
}

body {
  min-height: 100vh;
}
.body-wrapper {
  height: 110vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(70px, 1fr) minmax(80px, 1fr) 9fr minmax(80px, 1fr);
}
.header {
  overflow: hidden;
  padding: 10px;
  font-size: xxx-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgHeader);
}
.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 100%;
  perspective: var(--sP);
  transform-style: preserve-3d;
}

.cube {
  position: relative;
  transform-style: preserve-3d;
  width: var(--sF);
  height: var(--sF);
  transform: translateZ(var(--sHr));
  animation-name: rotate-cube;
  animation-duration: var(--aS);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.cube:hover .cube-face {
  background-image: url(img/jaca.jpg);
  background-size: 100% 100%;
}
@keyframes rotate-cube {
  0% {
    transform: translateZ(var(--sH)) rotateX(0) rotateY(0);
  }

  100% {
    transform: translateZ(var(--sH)) rotateX(360deg) rotateY(360deg);
  }
}
.cube-face {
  border: 2px solid black;
  position: absolute;
  width: var(--sF);
  height: var(--sF);
  background-color: var(--bgNav);
  opacity: 100%;
  animation-name: change-cube-face-color;
  animation-duration: calc(var(--aS) * 3);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes change-cube-face-color {
  0% {
    background-color: var(--bgNav);
  }
  33% {
    background-color: var(--color9);
  }
  66% {
    background-color: var(--color10);
  }
  100% {
    background-color: var(--bgNav);
  }
}

.cube-face.front {
  transform: rotateY(0deg) translateZ(var(--sH));
}
.cube-face.back {
  transform: rotateY(180deg) translateZ(var(--sH));
}
.cube-face.left {
  transform: rotateY(-90deg) translateZ(var(--sH));
}
.cube-face.right {
  transform: rotateY(90deg) translateZ(var(--sH));
}
.cube-face.top {
  transform: rotateX(90deg) translateZ(var(--sH));
}
.cube-face.bottom {
  transform: rotateX(-90deg) translateZ(var(--sH));
}
.nav {
  overflow: hidden;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bgNav);
}
.nav > a {
  border: 1px solid black;
  border-radius: 10px;
  font-size: larger;
  text-decoration: none;
  min-width: 6%;
  background-color: var(--bgNavBtn);
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms;
}
.nav > a:hover {
  transform: scale(110%);
  z-index: 3;
  transition: transform 300ms;
}
.maincontent {
  background-color: var(--bgMain);
}
.text-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 30vh;
  height: 100%;
}
.text-container {
  font-size: large;
  color: var(--color1);
  border-radius: 10px;
  border: 1px solid black;
  width: 35%;
  min-height: 33%;
  height: 33%;
}
.text-container h3 {
  margin: 20px 0 0 0;
  color: var(--color1);
  text-align: center;
}
.text-container p,
ul {
  margin: 20px 40px 40px 40px;
}
.text-container.main {
  width: 80%;
  background-color: var(--color11);
}

.text-container:nth-child(2) {
  background-color: var(--color10);
}
.text-container:nth-child(3) {
  background-color: var(--color4);
}

.footer {
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center;
  background-color: var(--bgFooter);
}
@media (max-aspect-ratio: 1/1) {
  .nav {
    justify-content: center;
  }
  .nav > a {
    font-size: x-large;
    min-width: 30%;
  }
  .text-container-wrapper {
    flex-wrap: wrap;
    overflow: hidden;
    gap: 10px;
    height: fit-content;
  }
  .text-container {
    width: 80%;
    height: fit-content;
  }
}
@media only screen and (max-width: 1000px) {
  .header {
    font-size: xx-large;
  }
  :root {
    --scale: 0.7;
  }
  .scene {
    width: 10%;
  }
}
@media only screen and (max-height: 1000px) {
  :root {
    --scale: 0.7;
  }
}
@media only screen and (max-width: 650px) {
  .header {
    font-size: large;
    justify-content: center;
    text-align: center;
  }
  .scene {
    display: none;
  }
}
@media only screen and (max-width: 300px) {
  .nav {
    display: initial;
  }
  .body-wrapper {
    grid-template-rows: minmax(70px, 1fr) minmax(80px, 1fr) 9fr minmax(
        80px,
        1fr
      );
  }
}
