:root {
  --col01: #e3f09b;
  --col02: #321312;
  --col03: #f79f79;
  --col04: #686963;
  --col05: #2e294e;
  --col06: #d7cf07;
  --col07: #af1b3f;

  --light-bg: var(--col01);

  --light-screenfill-bg: var(--col03);
  --light-screenfill-text: var(--col01);
  --light-header-text: var(--col04);
  --light-header-bg: var(--col07);
  --light-header-btn-bg: var(--col05);
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  min-height: 00vh;
}
.screenfill {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}
.screenfill h1 {
  text-transform: uppercase;

  font-size: 100px;
}
.screenfill h3 {
  font-size: 20px;
  background-color: transparent;
}
.settings-container {
  top: 70px;
  right: -210px;
  width: 140px;
  height: 210px;
  position: fixed;
  background-color: blue;
}
.settings-button {
  top: 70px;
  right: -70px;

  position: fixed;
  float: left;
  display: flex;
  width: 140px;
  height: 70px;

  align-items: center;
  animation-name: show;

  background-color: #af1b3f;
  border-radius: 20px 0 0 20px;

  transition: transform 1s;
}
.settings-menu {
  height: 210px;
  width: 100px;
}
.settings-button span {
  margin-left: 10px;
  transition: 1s;
  font-size: 50px;
}
.settings-button:hover {
  transform: scale(110%);
  transition: 1s;
}
.settings-button:hover span {
  transform: rotate(360deg);
  transition: 1s;
}
.settings-container.Opened span {
  color: white;
  transition: 1s;
}
.settings-container.Closed span {
  transition: 1s;
  color: black;
}
.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-button-container {
  position: absolute;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-button {
  margin: 20px;
}
